
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 

}

.bk {
  background-image: url("./assets/Images/wind.jpg");
  
}

.shadow{
  text-shadow: rgb(7, 51, 51) 1px 0 10px;
}

.shadow2{
  text-shadow: rgb(1, 14, 14) 2px 0 10px;
}

.hanger{
  
  background-image: linear-gradient(to bottom, rgba(161, 220, 243, 0.52), rgba(150, 211, 235, 0.73)), url("./assets/Images/tshirtsHanger.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  
  
}

.wid{
  width: 50rem;
}


.hangerheight{
  height: 35rem;
}

.login-background{
  background-image: linear-gradient( to bottom , rgba(3, 17, 17, 0.53) ,  rgba(3, 17, 17, 0.72)) , url("./assets/Images/loginbackground.jpg");
}

#mySelect option:hover {
  color : white;
  background-color: rgb(22 78 99 )
}

.tshirt-image {
  filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(175deg);
}

.imageHeight{
  height : 30rem;
}

.signInHeight{
  height: 90%;
}

.formHeight{
  height: 90%;
}

